![WIP](https://img.shields.io/badge/status-wip-red.svg)
[![GoDoc](https://godoc.org/github.com/tr00datp00nar/{{.Name}}?status.svg)](https://godoc.org/github.com/tr00datp00nar/{{.Name}})
[![License](https://img.shields.io/badge/license-Apache2-brightgreen.svg)](LICENSE)
[![Go Report Card](https://goreportcard.com/badge/github.com/tr00datp00nar/{{.Name}})](https://goreportcard.com/report/github.com/tr00datp00nar/{{.Name}})
[![Coverage](https://gocover.io/_badge/github.com/tr00datp00nar/{{.Name}})](https://gocover.io/github.com/tr00datp00nar/{{.Name}})
